

.container {
    width: 80%;
    margin: 0 auto;
}
body {
    margin: 0;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    font-size: 25px;
    display: inline;
}
#navbarlist{
    list-style-type: none;


}
.right {
    float:right;
    list-style-type: none;
    border-style: solid;
    border-color: red;
    padding: 7px;
    fill-rule: red;
    font-size: 17px;
    background-color: red;
    margin-right: 60px;
    border-radius: 5px;
    
    

}
.left {
    float:left;
    list-style-type: none;
    font-size: 50px;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
/* ------------------------   Netflix Nav Bar     ---------------------------- */
    
}
#herosection {
    color:white;
    text-align: center;
    margin-top: 20px;
}
#bottomhero{
    color:white;
    text-align: center;
    position: relative;
    font-size: 19px;
}


/* ------------------------   Hero Section     ---------------------------- */
#nextsection {
color:white;
margin: 200px;
align-items: baseline;
padding: 50px;
}
.h3{
    font-size: 23px;
    position: relative;
    vertical-align: left;
}
.tv {
  float: right;
  text-align: center;
  position: relative;
  vertical-align: right;
  
} 

#thirdsection {

    
}


