
/* ------------------------   Netflix Nav Bar     ---------------------------- */
.container {
    width: 80%;
    margin: 0 auto;
}
body {
    margin: 0;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    font-size: 25px;
    display: inline;
}
#navbarlist{
    list-style-type: none;


}
.right {
    float:right;
    list-style-type: none;
    border-style: solid;
    border-color: red;
    padding: 7px;
    fill-rule: red;
    font-size: 17px;
    background-color: red;
    margin-right: 60px;
    border-radius: 5px;
    
    

}
.left {
    float:left;
    list-style-type: none;
    font-size: 50px;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    
}

/* ------------------------   Hero Section 1    ---------------------------- */

#herosection {
    color:white;
    text-align: center;
    margin-top: 20px;
}
#bottomhero{
    color:white;
    text-align: center;
    position: relative;
    font-size: 19px;
}



#nextsection {
color:white;
margin: 200px;
align-items: baseline;
padding: 50px;
}
.h3 {
    font-size: 23px;
    position: relative;
    vertical-align: left;
}
.tv {
  float: right;
  text-align: center;
  position: relative;
  vertical-align: right;
  bottom: 120px;
  
} 
/* ------------------------   Hero Section   2  ---------------------------- */

#phone {
    width: 40px;
    height: 100px;
}
#text {
    float: right;
    color: white;
    bottom: 380px;
    position: relative;
}
    

#texts {
float: right;
color: white;
position: relative;
bottom: 300px;
right: 165px;

}
#images {
position: relative;
top: 100px;
right: 100px;
left: 50px;

}
/* ------------------------   FAQ Table ---------------------------- */
.FrequentlyAskedQuestions {
    text-align: center;
    color: white;
}
.faqlist {
list-style-type: none;
padding-right: 200px;
border: 500px;
margin-left: 100px;
margin: 300px;
border-style:solid;
border-width: 20px;
border-color: grey;
background-color: grey;
text-align: center;
height: 200px;

}

.faqheader {
    text-align: center;
    position: relative;
    left: 500px;
}
/* ------------------------   Footer ---------------------------- */




.footerlist {
    list-style-type: none;
    color: white;
}
.footerlist2 {
    float: left;
    color: white;
    position: relative;
    list-style-type: none;
    left: 400px;
    bottom: 180px;
}
.footerlist3 {
list-style-type: none;
color:white;
position: relative;
left: 600px;
bottom: 160px;
}
.footerlist4 {
list-style-type: none;
color:white;
position: relative;
float: right;
bottom: 320px;
right: 200px;

}